<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    >
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
